.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    pointer-events: none;
}
.bar {
    width: 10vw;
    height: 105vh;
    background: #1a1a1a;

}